{% extends 'base.html.twig' %}
{% block title %}Dashboard{% endblock %}
{% block body %}
    <div class="container-fluid">
        <h1 class="text-center my-2 vasilek">Dashboard</h1>
    </div>
{% endblock %}
{% block javascripts %}

    {{ parent() }}
    <script>
        window.addEventListener("DOMContentLoaded", () => {
                $('#nav-dash').addClass('my-white');
            }
        );
    </script>
{% endblock %}