@import "~bootstrap/scss/bootstrap";

@font-face {
  // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом)
  font-family: "Roboto";
  // адрес шрифта и тип
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом)
  font-family: "Nunito";
  // адрес шрифта и тип
  src: url("../fonts/Nunito-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.bg-vasilek {
  background-color: #6E9EF9;
}

.bg-vasilek-dis {
  background-color: rgba(110, 158, 249, 0.25);
}

.bg-good-dis {
  background-color: rgba(85, 213, 85, 0.25);
}

.bg-bad-dis {
  background-color: #E85A4F;
}

.vasilek {
  color: #6E9EF9;
}

h1 {
  font-size: 60px;
  line-height: 130%;
  font-family: 'Roboto';
  margin: 0;
}

h2 {
  font-size: 48px;
  line-height: 130%;
  font-family: 'Roboto';
  margin: 0;
}

h3 {
  font-size: 32px;
  line-height: 130%;
  font-family: 'Roboto';
  margin: 0;
}

.b1 {
  font-size: 24px;
  line-height: 130%;
  font-family: 'Nunito';
}

.b2 {
  font-size: 20px;
  line-height: 130%;
  font-family: 'Nunito';
}

.b3 {
  font-size: 16px;
  line-height: 130%;
  font-family: 'Nunito';
}

.text-color {
  color: #232323;
}

.text-color-dis {
  color: rgba(35, 35, 35, 0.5);
}

.my-white {
  color: #EBEBEB;
}

.nav-link.active {
  color: #EBEBEB;
}

.active {
  color: #EBEBEB;
}

.user-avatar {
  height: 64px;
  border-radius: 32px;
}

.brand-logo {
  height: 100px;
  fill: #EBEBEB;
}

.form-control {
  border-radius: 10px;
  background: #6E9EF9;
  border: 2px solid #EBEBEB;
  color: #EBEBEB;
  font-family: 'Nunito';
  height: 40px;
}

.form-label {
  color: #6E9EF9;
  font-family: 'Nunito';
  font-size: 24px;
}

.form-modal-input {
  border-radius: 10px;
  background: transparent;
  border: 2px solid #6E9EF9;
  font-family: 'Nunito';
  color: #232323;
  height: 40px;
}

.plus-svg {
  height: 32px;
  stroke: #6E9EF9;
}

.device-card {
  height: 200px;
  width: 200px;
  border-radius: 10px;
}

.device-form {
  width: 200px;
  padding: 0 4px;
}

.device-input {
  display: flex;
  padding: 0 4px;
  height: 30px;
  width: 180px;
  border: 2px solid #6E9EF9;
  border-radius: 10px;
  color: #232323;
}

.device-input:active,
.device-input:focus,
.device-input:hover {
  border: 2px solid #6E9EF9;
}

.btn-device-input {
  height: fit-content;
  width: fit-content;
  padding: 4px;
  border: 2px solid #6E9EF9;
  color: #232323;
  background: transparent;
}

.btn-device-input:active,
.btn-device-input:focus,
.btn-device-input:hover {
  color: #EBEBEB;
  background: #6E9EF9;
}

.switch-block {
  height: 30px;
}

.sensor-card {
  min-height: 200px;
  min-width: 200px;
  border-radius: 10px;
  //background-color: rgba(110, 158, 249, 0.25);
}

.room-card {
  display: flex;
  align-self: flex-end;
}

.room-icon {
  width: 200px;
  max-height: 200px;
}

.room-name {
  max-width: 180px;
  height: fit-content;
  text-align: center;
}

button {
  border: 2px solid #EBEBEB;
  border-radius: 10px;
  background: #6E9EF9;
  color: #EBEBEB;
  height: 40px;
  width: 100px;
}

.rooms-list {
  max-width: 210px;
  border-radius: 10px;
  background-color: rgba(110, 158, 249, 0.25);
}

.room-active {
  color: #6E9EF9;
}

button:active,
button:focus,
button:hover {
  background-color: #EBEBEB;
  color: #232323;
}

.btn-add-room {
  font-family: 'Nunito';
  border: 2px solid #6E9EF9;
  border-radius: 10px;
  background: #6E9EF9;
  color: #EBEBEB;
  width: fit-content;
}

.btn-add-room:active,
.btn-add-room:focus,
.btn-add-room:hover {
  background-color: #FFFFFF;
  color: #6E9EF9;
}

.btn-delete-room {
  font-family: 'Nunito';
  border: 2px solid #E85A4F;
  border-radius: 10px;
  background: #E85A4F;
  color: #EBEBEB;
  width: fit-content;
}

.btn-delete-room:active,
.btn-delete-room:focus,
.btn-delete-room:hover {
  background-color: #FFFFFF;
  color: #E85A4F;
}


#username:focus,
#username:hover {
  color: #EBEBEB;
}

li.nav-item a.nav-link:focus,
li.nav-item a.nav-link:hover,
li.nav-item a.nav-link:active {
  color: #EBEBEB;
  background-color: #6E9EF9;
}

.list-group {
  --bs-list-group-border-width: none;
}

section.rooms-widget a.list-group-item {
  border: none;
  background-color: rgba(110, 158, 249, 0.25);
}

section.rooms-widget a.list-group-item.active {
  color: #6E9EF9;
  background-color: rgba(110, 158, 249, 0.25);
  border: none;
  //border-color: rgba(110, 158, 249, 0.25);
}

.notice-text {
  width: 100%;
  display: flex;
  justify-content: start;
}

.notice-icon {
  max-width: 100px;
  min-width: 50px;
  height: auto;
}