{% extends 'auth_layout.html.twig' %}

{% block title %}Auth{% endblock %}

{% block body %}
    <div class="container-sm">
        <div class="text-center">
            <img src="{{ asset('img/svg/logo.svg') }}" alt="brand-logo" class="brand-logo my-3">
        </div>
        <form action="{{ path('app_login_check') }}" class="auth-form" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label my-white b1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" name="_username">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label my-white b1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="_password">
            </div>
            <button type="submit" class="mb-3 b3">Sign In</button>
            <div class="b3 my-white">Don't have an account? <a href="{{ path('app_registration') }}">Sign Up</a></div>
        </form>
    </div>
{% endblock %}
